* {
  padding: 0;
  margin: 0;
}

/* the flash available to pre-order */
.tophead {
  position: fixed;

  border: 2px solid hsl(340, 100%, 61%);
  color: whitesmoke;
  background-color: #ec0577;
  padding: 10px;
  text-align: center;
  top: 0;
  width: 100%;
   /* z-index: 999;  */
}

.tophead a {
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
}

/* location and rating */

.dropdown {
  background-color: #1a1a1a;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 50px;
  padding-top: 40px;
}

.revlocation a {
  color: whitesmoke;
}

.revlocation {
  margin-right: auto;
  text-align: right;
}

.revhead {
  margin-left: auto;
  text-align: left;
}
.b{
  background-color: rgba(220, 217, 217, 0.315);

}


.dropdown {
  color: whitesmoke;
}

/* nav bars */

.maincontainer {
  position: sticky;
   top: 38px;  
                                          /* icons  */
  background-color: #1a1a1a;
  z-index: 999; 
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.hmv a {
  color: pink;
  font-size: 30px;
  text-decoration: none;
}

.last3 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.fa-bars {
  color: whitesmoke;
}

.edit1,
.edit2 {
  margin-top: 0px;
  padding-left: 8px;
  color: whitesmoke;
}

.edit2 {
  padding-right: 0px;
}

  /*  dvd*/
.dvd_main{
  
  padding-top: 42px;
  background-color: rgba(220, 217, 217, 0.315);
  color: #363636;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 26px; 
    padding: 35px; 
  
    
    /* line-height: 1.6;  */
}
#dvd{
  font-size: 32px;
  font-weight: 700;
  /* margin: 15px;  */
  margin-left: 25px;  

  
  
}

#page_show{
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-top: 20px;
  /* margin-left: 10px;  */
 font-size: 18px;
  font-family: "Source Sans Pro",sans-serif;
  
  color: #363636;
  

}

/* menu slide */

.pannel {
  position: absolute;
  background-color: black;
  left: 0;
  right: 0;
  height: auto; 
  top: 56px;
}

.text_size{
  color: white;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 13px;
}
                            /* cart styles */

.fa-shopping-cart  {
  color: white;
  
}




/* movies list */
 .movieouter_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  /* background-color: rgba(220, 217, 217, 0.315);  */


}
.grid {
  color: black;
  
   /* width: 100px;   */
  background-color: white;
   padding: 80px;   
}

.grid img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  /* position: relative; */
  
}     
          

.movieouter_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  margin-top: 20px;
}

 @media (max-width: 400px) {
  .movieouter_container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.grid {
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.buy p {
  margin: 10px 0;
}
/* mouse hover */
.addbasket {
  color: rgb(224, 40, 101);
  border: 2px solid palevioletred;
  /* cursor: pointer; */
  background-color: initial; /* Set initial background color */
}

.addbasket:hover {
  background-color: rgb(241, 67, 125); /* Change background color on hover */
  color: white; /* Change text color on hover */
}


  
/*  */

#Letter_emails{

  margin: 0px 0px 22px;
  padding: 20px 0px 17px;
}
#love_offers{
  margin: 0px 0px 14px;
  color: #f2f2f2;

}

#input_email{
 /* margin-left: 18px;
  margin-right: 18px;
     padding: 10px 15px;   */
     max-width: 100%;
    height: 35px;
    border: 1px solid #d3d6d9;
    border-radius: 0;
    background: #fff;
    color: #363636;
    font-size: 1.4rem;
    box-shadow: none;
}
#please_data{
  margin: 11.2px 0px;
  color:#8f8f8f;
  font-size: small;
  font-family: "Source Sans Pro",sans-serif;

}

 

#submit{
 
  border-color: #fff;
  background-color: transparent;  
  color: #fff;

}  
          

#text1,#text2,#text3 {
  padding: 20px 0px 17px; 
  color: whitesmoke;
  

}



.black{
  background-color: aquamarine;
}
                                                /* slide  to check xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

 /* not working */
#customline{
  background-color: whitesmoke;
  height: .1px; 
}


/* soical media */
.stay{
  margin: 0 0 8px;
  /* padding: 15px 0 15px;  */
}
.socialmedia{
   display: flex; 
  flex-direction: row;
  padding: 6px;
  font-size: 35px;
}
.icons{
  padding: 6px;

}

/* pattern */
.pattern{
  padding: 5px;
}

/* fans sighup emails */
#fans_email{
  font-size: 18px;
  padding: 11px 25px;
  color: snow;  
}

.fans_reg_email{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ec0577;
  
}
.fans_reg_email {
  position: fixed;
   bottom: 0;  
  width: 100%;
}

/* .slide_fans {
  margin: 100px;
  padding: 100px;
  display: none;
  position: absolute;
}  */



/* delete */
.inputs {
  padding: 50px;
}




.cartslide {


  color: rgb(239, 42, 108);
  /* margin: 0px 0px 0px 0px;  */
  /* overflow: auto;  */
  /* -webkit-overflow-scrolling: touch;  */
  /* -ms-overflow-style: -ms-autohiding-scrollbar; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: transform 0.4s ease;
  background: #fff;
  z-index: 103;

 
}

.rounded_icon{
  width: 40px;
    height: 40px;
    margin-right: 0;
    margin-left: 10px;
    transition: 0.3s ease;
    border: 0;
    background: #ec0577;
}
   
/* Your regular styles for the cartslide class go here */

.cartslide {
  /* Your regular styles go here */
  
   color: black; 
   margin: 0px 0px 0px -423px; 
  overflow: auto;
 
  
  /* -webkit-overflow-scrolling: touch; */
  /* -ms-overflow-style: -ms-autohiding-scrollbar;  */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: transform 0.4s ease;
  background: #fff;
  /* z-index: 103;  */
}

.rounded_icon{
  width: 40px;
    height: 40px;
    margin-right: 0;
    margin-left: 10px;
    transition: 0.3s ease;
    border: 0;
    background: #ec0577;
    
}
  

 
 /* empty div */
 


/* for big screen */
   /* desktop media query */

   .main-nav-item-music ,.main-nav-item-flim ,.main-nav-item-technology ,.main-nav-item-merchandise ,
   .main-nav-item-gaming ,.main-nav-item-blog ,.main-nav-item-hmvlive 
   {
     font-family: "Source Sans Pro",sans-serif;
     /* background-color: aquamarine; */
     
   }
   
   .main-nav ul {
     display: flex; /* Display the list items as a flex container */
     list-style: none; /* Remove default list styles */
     padding: 5px; /* Remove any default padding */
   }
   
   .main-nav li {
     display: flex; /* Display each list item as a flex item */
     align-items: center; /* Align items vertically in the center */
     margin-right: 20PX; /* Add some space between the list items */
     color: white;
   }
   
   /* Optional: To align the dropdown icon at the end of each list item */
   .main-nav li i {
     margin-left: 3px;
   }
                


/* Media query for screen widths up to 455px */

   

/*  */
/* Reset some default styles to ensure consistency */

 .head_genre, .head_offers, .head_releasedate, .head_certification,
  .head_brand, .head_preoder, .head_director, .head_genere, .head_format {
    margin-top: 5px;
    margin-left: 35px; 
    border: 2px solid white;
    background-color: white;
    width: 70%;
    
    /* font-size: 14px;  */
    color: #363636;
    font-family: "Source Sans Pro",sans-serif;
    /* font-size: 1.6rem;  */
    /* font-weight: 400;  */
    /* line-height: 1.6;  */
  }
 
.sidebar-block--filter{ 
  /* background-color: white;  */
  /* margin-top: 5px;  */
  /* margin-left: 35px;   */
  /* padding: 30px; */
  background-color: rgba(220, 217, 217, 0.014);
 

 }


 /* ''''''''''''''''''''''''''''''''''''''''''''''''''format side'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */

/* Apply padding to each element */


.head_format,
.head_genere,
.genere_2,
.head_offers,
.offers_price,
.head_releasedate,
.realsie_date,
.head_certification,
.certification,
.head_brand,
.brand,
.head_preoder,
.pre-order,
.head_director,
.diretor {
  padding: 8px; 
}



.line_through {
  /* border-top: 1px solid black;  */
  border-top: 1px solid #e6e2df;
  margin-top: 10px;
  margin-bottom: 10px;
}

.line_through_other {
  /* border-top: 1px solid black;  */
  border-top: 1px solid #e6e2df; 
  margin-top: 10px;
  margin-bottom: 10px;


}



.sidebar-block--filter{ 
    font-size: 14px;
    color: #3d3d3d;
    padding: 8px 0 8px 20px;
    line-height: 1.2;

    
}  

/* ---------------------------------------------------------------------- */
.footerblock_1{
   /* background-color: limegreen;  */
    background-color: #1a1a1a;   
}
.footerblock_grid1{
  padding: auto;

}
.footerblock_grid2{
   padding: auto;

}
.footerblock_grid3{
   /* background-color: cadetblue;  */
   background-color: #1a1a1a; 

}


/* --------xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx--------------------------- */



.sct_but{
  color: #ec0577;
  border: 1px solid rgb(242, 20, 94);
   padding: 2px;  
  align-items: center;
    justify-content: space-between;
    /* padding: 0 0 5px; */
    overflow: hidden;
    margin-left: 70%;
  
}
.sct_but {
  background-color: initial; /* Set initial background color */
  color: rgb(243, 53, 116); /* Set initial text color */
}

.sct_but:hover {
  background-color: rgb(241, 67, 125); /* Change background color on hover */
  color: white; /* Change text color on hover */
}
/*  */
.footer {
  padding-bottom: 35px;
  clear: both;
  background-color: #1a1a1a;
  /* color: #f2f2f2; */
}
.footer {
  display: block;
}


.email_details {
  /* margin: 0%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #1a1a1a;
  
  
  /* background-color: aqua;  */
}





.pattern{
  padding-top: 25px;
  padding-bottom: 45px;
  background-color: #1a1a1a;
  color: #8f8f8f;
  font-size: 14px;
  font-family:  "Source Sans Pro",sans-serif; 
  /* font-size: 1.6rem;  */
}
#Letter_emails{
  color: whitesmoke;
}

.socialmedia .icons i{
   color: white;  
   background-color: #ec0577; 
}

#staytouch{
  color: #fff;
}
#text_slide1,#text_slide2{
  color: #fff;
}
.customline{
  display: none;
}

/* desktop */
.footerblock_grid1{
  display: flex;
  flex-direction: column;
  /* text-align: start;  */
   text-align: center; 

  padding: 50px;

}
.footerblock_grid2{
  display: flex;
  flex-direction: column;
  text-align: start;

  /* text-align: center;  */
  padding: 50px;
  /*  */

}
/* mobile display */
@media only screen and (max-width: 809px) {
  
  /* new */
  #big_screen_search{
    display: none;
  }
  /* home */
  #whitespace{
    display: none;
    
  }
  .a {
    display: none;
  }
  .main-nav ul { 
    display: none;
  }
  #Letter_emails{
    padding-top: 35px;
    padding-left: 15px;
    font-size: 22px; 

  }
  #input_email{
    margin-left: 15px;
    width: 90%;
  }
  #submit{
   /* position: absolute; */
    padding: 8.5px 20px; 
    letter-spacing: 1px;
    line-height: 1.6;
    margin-left: 65%;

  }
  #please_data{
    /* margin-top: 0.8em; */
    /* margin-bottom: 0.10em; */
    
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: small;
    
  }
  .footerblock_grid1{
    padding: 10px;
    text-align: start;
    font-size: 18px;
  }
  .footerblock_grid2{
    padding: 10px;
    font-size: 18px;

  }
  .footerblock_grid3{
    
    padding-left: 10px;
    font-size: 18px;

  }
  .socialmedia{
    padding-top: 0;
    padding-top: 30px; 
  }
  #staytouch{
    /* color: red; */
    padding-top: 45px;
    font-size: 1.17em;
  }
  .cartslide{
    background-color: white;
    padding-left: 100px;
  }
  #close_cartslide, #close_cartslide2{
    /* position: sticky; */
    /* width: 100%; */
     margin-left: 60%;
     position: absolute;
     border: 2px solid pink;
     padding: 8px;
     background-color: rgb(254, 78, 137);
  }
  
  #close_cartslide2{
    margin-top: 20px;
  }
  .pannel{
    top: 54px;
  }

  
  /*  */
  .empty-message {
    color: rgb(241, 7, 85);
    font-weight: bold;
      border: 2px solid rgb(224, 101, 122);  
     width: 80%; 
     padding: 8px; 
    background-color: #f39db961; 
    /* Add any other styles you want */
  }
  
#close1{
  position: absolute;
  margin-left: 250px;
  padding-bottom: 10px;
  font-size: 23px;
  color: black;
}
#close2{
  position: absolute;
  color: black;
  margin-left: 235px;
  padding: 21px;
  font-size: 23px;

}
  .dvd_main{
    padding: 0px;
  }
    
    #dvd{
      font-size: 20px;
      margin-top: 15px;
      padding-top: 5px;

    }
           /*  */
    #page_show{
     
     font-size: 16px;
    
      
    }
    #love_offers {
      font-size: 14px;
      color: #f2f2f2;
      margin-left: 6px;

    }

    /* help information */
    #text_slide1,#text_slide2,#text_slide3{
      display: none; 
      font-size: 14px;
      color: #f2f2f2b5;
      

    }
  
  
}


/* laptop display */
 
@media only screen and (min-width: 810px) {
 .fas.fa-bars{
  display: none;
 }
 /* search size */
#big_screen_search {
  padding: 12px 300px 12px 12px;

 }
 .fas.fa-search {
  margin-top: 1px;
  /* margin-right: 40px; */
  border: 2px solid white;
  padding: 11px; 
 }

 .fas.fa-shopping-cart {
  margin-top: 15px;
 }
 

 .edit1{
  padding-right: 10px;
  size: 10px;
 }
 /* home  */
 #whitespace{
  font-size: 14px;
  margin-left: 15px;
  padding: 12px;
  color: #8f8f8f;
  background-color: #fff;
 }


 
/* box chicking */
.cona{
  display: flex;
   /* background-color: greenyellow;   */
   background-color:     background-color: rgba(220, 217, 217, 0.315);
   ;
     
}
.a{
  flex: 0 0 25%; /* 20% width */
  /* background-color: rgb(229, 220, 220);  */
  background-color: rgba(220, 217, 217, 0.315);

  /* padding: 1px; */
  /* background-color: red;  */
}
.b{
  flex: 0 0 74%; /* 80% width */
  /* background-color: lightgreen; */
  /* background-color: aqua;  */
}

/* bottom email  */

.email_details {
  display: flex;
  flex-wrap: wrap;
   /* padding-top: 500px;  */

}

.email_details > * {
  flex: 1;
}

/* inside the end  */
.footerblock_1{
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 5px;
  width: 100%;
    border-radius: 0;
    /* background-color: #fff;  */

}
.footerblock_grid1{
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 50px;

}
.footerblock_grid2{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;

}
.footerblock_grid3{
padding: 50px;
}.customline{
  display: none;
}
#Letter_emails,#HelpfulInformation,#text1,#text2,#text3,#staytouch{
  font-weight: 700;
  font-size: 22px;
 /* color: #f9f8f6;  */
 /* color: aqua; */

}
#staytouch{
  padding-top: 15px;
}

.footerblock_grid1 p,
.footerblock_grid2 p,
.footerblock_grid3 p {
  color: #b3b3b3;
  /* background-color: #363636;  */
  padding-top: 4px;
  padding-bottom: 4px;

  font-family: "Source Sans Pro",sans-serif;
  font-size: 16px;
}



#text2{
  display: flex;
}

/* submit */

#submit{
 
  border-color: #fff;
  background-color: transparent;  
  color: #fff;
  margin-left: 70%;
  padding: 5px 10px;
  

}  
.line_throuh_end{
  background-color: whitesmoke;
  height: .1px; 
}

 /* mecia */
 

}
/* end */

#carees{
  color: #f2f2f2;
}

.empty-message {
  color: rgb(241, 7, 85);
  font-weight: bold;
    border: 2px solid rgb(224, 101, 122);  
   width: 80%; 
   padding: 8px; 
  background-color: #f39db961; 
  /* Add any other styles you want */
}

#close_cartslide, #close_cartslide2{
  /* position: sticky; */
  /* width: 100%; */
   /* margin-left: 60%;  */
   position: absolute;
   border: 2px solid pink;
   padding: 8px;
   background-color: rgb(254, 78, 137);
}
.page_end{
  margin-left: 10%;
  margin-bottom: 15px;
}



/* for very big screens */
@media only screen and (min-width: 1397px) {

.dvd_main,.cona{
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(220, 217, 217, 0.315);

}
}






